[sources]

eea.eggmonkey                = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.eggmonkey/trunk

# EEA packages GIT
#eea.facetednavigation        = git https://github.com/collective/eea.facetednavigation.git
#eea.faceted.vocabularies     = git https://github.com/collective/eea.faceted.vocabularies.git
#eea.tags                     = git https://github.com/collective/eea.tags.git
#eea.jquery                   = git https://github.com/collective/eea.jquery.git
#collective.quickupload       = git https://github.com/avoinea/collective.quickupload.git

## EEA packages SVN
#Products.EEAContentTypes     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.EEAContentTypes/trunk
#Products.EEAPloneAdmin       = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.EEAPloneAdmin/trunk
#Products.EEATemplatesService = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.EEATemplatesService/trunk
#Products.NavigationManager   = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.NavigationManager/trunk
#Products.PloneGazette        = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.PloneGazette/trunk
#Products.eeawebapplication   = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.eeawebapplication/trunk
#Products.EEAEnquiry          = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.EEAEnquiry/trunk
#eea.app.visualization        = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.app.visualization/trunk
#eea.alchemy                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.alchemy/trunk
#eea.aoamap                   = svn https://svn.eionet.europa.eu/repositories/Naaya/trunk/eggs/eea.aoamap/trunk
#eea.cache                    = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.cache/trunk
#eea.dataservice              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.dataservice/trunk
#eea.daviz                    = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.daviz/trunk
#eea.design                   = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.design/trunk
#eea.epub                     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.epub/trunk
#eea.exhibit                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.exhibit/trunk
#eea.faceted.inheritance      = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.faceted.inheritance/trunk
#eea.faceted.tool             = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.faceted.tool/trunk
#eea.geotags                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.geotags/trunk
#eea.google                   = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.google/trunk
#eea.indicators               = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.indicators/trunk
#eea.locationwidget           = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.locationwidget/trunk
#eea.mediacentre              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.mediacentre/trunk
#eea.pagedesign               = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.pagedesign/trunk
#eea.plone4migration          = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.plone4migration/trunk
#eea.promotion                = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.promotion/trunk
#eea.rdfmarshaller            = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.rdfmarshaller/trunk
#eea.rdfrepository            = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.rdfrepository/trunk
#eea.relations                = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.relations/trunk
#eea.reports                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.reports/trunk
#eea.signals                  = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.signals/trunk
#eea.sitestructurediff        = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.sitestructurediff/trunk
#eea.socialmedia              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.socialmedia/trunk
#eea.soer                     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.soer/trunk
#eea.themecentre              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.themecentre/trunk
#eea.translations             = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.translations/trunk
#eea.versions                 = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.versions/trunk
#eea.vocab                    = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.vocab/trunk
#eea.workflow                 = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.workflow/trunk
#eea.plone4migration          = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.plone4migration/trunk
#eea.bounce                   = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.bounce/trunk
#eea.forms                    = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.forms/trunk

## 3rd party packages
#Products.MemcachedManager  = svn https://svn.plone.org/svn/collective/Products.MemcachedManager/trunk
#Products.PloneHelpCenter   = svn http://svn.plone.org/svn/collective/Products.PloneHelpCenter/trunk

#valentine.imagescales      = svn https://svn.plone.org/svn/collective/valentine.imagescales/branches/plone4
#valentine.linguaflow       = svn https://svn.plone.org/svn/collective/valentine.linguaflow/branches/plone4

#p4a.common                 = git https://github.com/collective/p4a.common.git
#p4a.fileimage              = svn https://svn.plone.org/svn/collective/p4a/p4a.fileimage/trunk
#p4a.plonevideo             = svn https://svn.plone.org/svn/collective/p4a/p4a.plonevideo/trunk/
#p4a.plonevideoembed        = svn https://svn.plone.org/svn/collective/p4a/p4a.plonevideoembed/trunk/
#p4a.subtyper               = svn https://svn.plone.org/svn/collective/p4a/p4a.subtyper/trunk/
#p4a.video                  = svn https://svn.plone.org/svn/collective/p4a/p4a.video/trunk
#p4a.videoembed             = svn https://svn.plone.org/svn/collective/p4a/p4a.videoembed/trunk/
#p4a.z2utils                = svn https://svn.plone.org/svn/collective/p4a/p4a.z2utils/trunk/

#bda.feed                   = svn https://svn.plone.org/svn/collective/bda.feed/trunk
#cornerstone.feed.core      = svn https://svn.plone.org/svn/collective/cornerstone.feed.core/trunk
#cornerstone.feed.zope      = svn https://svn.plone.org/svn/collective/cornerstone.feed.zope/trunk
#Products.RichTopic         = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.RichTopic/trunk


#Products.ZSPARQLMethod     = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/Products.ZSPARQLMethod
#sparql-client              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/sparql-client/
#eea.sparql                 = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.sparql/trunk
#eea.googlecharts           = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.googlecharts/trunk
#eea.converter              = svn https://svn.eionet.europa.eu/repositories/Zope/trunk/eea.converter/trunk

